* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
    background: #fffaf6;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 28px);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.other-font {
    font-family: Sora, sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;

    display: inline-block;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    min-width: 117px;
    border-radius: 99px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

img {
    display: block;
}

.section-heading {
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.1923;
}

.section-desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.875;
}

.non-margin {
    margin: 0;
}

/* Header */
.header {
    padding-top: 26px;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-link,
.header__action--sign-in {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.header__nav-link:hover {
    color: #000958;
    text-shadow: 1px 0 #000958;
}

.header__nav-active {
    color: #000958;
    text-shadow: 1px 0 #000958;
}

.header__action--sign-up {
    --height: 50px;

    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
    border-color: rgb(0, 9, 88, 0.7);
}

/* Hero */
.hero {
    padding-top: 100px;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border: 2px solid #fff;
    border-radius: 16px;
    background: #fe997b;
}

.hero__img {
    max-width: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.hero__img-decor {
    position: absolute;
    z-index: -1;
}

.hero__img-decor:nth-child(2) {
    right: -42px;
    top: 16px;
}

.hero__img-decor:last-child {
    left: -58px;
    bottom: 10px;
}

.hero__img-wrap--small {
    margin: 0 0 -58px -23px;
    align-self: flex-end;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    border-color: #ffdfdf;
}

.hero__list {
    position: absolute;
    left: 130px;
    bottom: 0;
    padding: 18px 14px;
    width: 250px;
    background: #fff;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__item {
    display: flex;
}

.hero__item:last-child .hero__item-img {
    background: #c6e2fa;
}

.hero__item-img {
    background: #fec23f;
    border-radius: 10px;
}

.hero__item-info {
    margin-left: 10px;
}

.hero__item-title {
    color: #181e52;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__item-skeleton {
    width: 118px;
    margin-top: 6px;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(0, 9, 88, 0.08);
}

.hero__item-skeleton + .hero__item-skeleton {
    width: 39px;
}

.hero__list-separate {
    margin: 20px 0;
    height: 2px;
    border-radius: 1px;
    background: #f2f2f2;
}

.hero__heading {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    margin: 24px 0 38px;
    width: 415px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.875;
}

.hero__cta {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__cta-btn {
    --height: 60px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    min-width: 189px;
    background: #ff5b2e;
    color: #fff;
}

.hero__cta-arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fffaf5;
}

.hero__cta-link {
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}

/* About */
.about {
    margin-top: 77px;
    padding: 53px 0;
}

.about__inner-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__content {
    width: 477px;
}

.about__content-label {
    color: #5e6085;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__content-heading {
    margin-top: 15px;
}

.about__content-desc {
    width: 431px;
}

.about__content-checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 34px 36px;
}

.about__content-checkitem {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__content-checkitem::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #ff5d31;
}

.about__content-checkitem::after {
    content: url(../icon/about-check.svg);
    position: absolute;
    top: 2px;
    left: 5px;
}

.about__img-wrap {
    position: relative;
    padding: 0 22px;
    width: 494px;
}

.about__img-wrap::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 60%;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    width: 100%;
}

.about__card {
    position: absolute;
    top: 165px;
    left: -92px;
    text-align: center;
    padding: 31px 26px 29px;
    width: 136px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
    color: #fff;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    line-height: 1.42857;
}

.about__card-img {
    position: absolute;
    top: -23px;
    right: -3px;
}

.about__img-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__inner-bottom {
    margin-top: 77px;
    padding: 16px 0 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 127px;
}

.about__img-wrap-bottom {
    padding: 0;
    display: flex;
    align-items: flex-end;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-decor-bottom {
    position: absolute;
}

.about__img-decor-bottom:nth-child(2) {
    top: 12.5px;
    right: 63px;
}
.about__img-decor-bottom:nth-child(3) {
    top: -16px;
    right: 13px;
}
.about__img-decor-bottom:nth-child(4) {
    top: 33px;
    right: -21px;
}
.about__img-decor-bottom:nth-child(5) {
    bottom: 206px;
    right: -33px;
}
.about__img-decor-bottom:nth-child(6) {
    bottom: 150px;
    right: 19px;
}
.about__img-decor-bottom:nth-child(7) {
    bottom: -39px;
    right: -23px;
}
.about__img-decor-bottom:nth-child(8) {
    bottom: -47px;
    right: -32px;
}
.about__img-decor-bottom:nth-child(9) {
    bottom: -54px;
    right: -42px;
}

.about__content-bottom {
    width: auto;
}

.about__content-desc-bottom {
    width: 511px;
    margin-bottom: 52px;
}

.about__tab {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 56px;
}

.about__tab::after,
.about__tab-active::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
}

.about__tab::after {
    left: 0;
    right: 0;
    background: rgba(255, 91, 46, 0.07);
}

.about__tab-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 11px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
}

.about__tab-active::after {
    width: 95px;
    background: #ff5b2e;
}

.about__tab-content-item {
    display: none;
}

.about__content-active {
    display: block;
}

.about__tab-desc {
    margin-top: 36px;
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.714;
}

.about__tab-link {
    display: inline-block;
    margin-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Service */
.service {
    margin-top: 77px;
    padding: 68px 0 100px;
    background: #fff6ed;
}

.service__top,
.staff__top {
    font-family: Sora, sans-serif;
    text-align: center;
}

.service__heading,
.staff__heading {
    margin-top: 15px;
}

.service__body {
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.service__item {
    padding: 30px 22px 30px 28px;
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service__item + .service__item {
    margin-top: 24px;
}

.service__item-heading {
    padding-left: 12px;
    position: relative;
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 22px;
}

.service__item-heading::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    content: '';
    display: inline-block;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(to bottom, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service__item-desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.714;
}

.service__item-more {
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
    margin-top: 24px;
    color: #34396a;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    line-height: 1;
}

.service__item-more::after {
    content: url(../icon/arrow-up-right.svg);
    margin-top: 1px;
}

.service__img-wrap {
    position: relative;
    justify-self: center;
    margin-top: 17px;
    max-width: 447px;
}

.service__img-wrap::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    height: 58%;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
    position: relative;
    z-index: 1;
    width: 100%;
}

.service__btn-wrap {
    margin-top: 45px;
    text-align: center;
}

.service__btn {
    min-width: 214px;
}

/* Staff */
.staff {
    margin-top: 100px;
    padding: 30px 0;
}

.staff__body {
    margin-top: 59px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff__img-wrap::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 93%;
    border-radius: inherit;
}

.staff__img-wrap::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: calc(100% + 32px);
    translate: -50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.staff__item:nth-child(1) .staff__img-wrap::before {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff__item:nth-child(1) .staff__img-wrap::after {
    background-image: url(../icon/staff-decor-01.svg);
}

.staff__item:nth-child(2) .staff__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff__item:nth-child(2) .staff__img-wrap::after {
    background-image: url(../icon/staff-decor-02.svg);
}

.staff__item:nth-child(3) .staff__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff__item:nth-child(3) .staff__img-wrap::after {
    background-image: url(../icon/staff-decor-03.svg);
}

.staff__item:nth-child(4) .staff__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff__item:nth-child(4) .staff__img-wrap::after {
    background-image: url(../icon/staff-decor-04.svg);
}

.staff__item:nth-child(even) .staff__img-wrap::after {
    background-position: 0 16px;
}

.staff__img {
    max-width: 100%;
    border-radius: inherit;
}

.staff__item {
    text-align: center;
}

.staff__item-title {
    margin-top: 30px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1;
}

.staff__item-name {
    margin-top: 14px;
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.staff__view {
    margin-top: 48px;
    text-align: center;
}

.staff__view-link {
    min-width: 193px;
}

/* Pricing */
.pricing {
    margin-top: 100px;
    padding: 86px 0;
    background-color: #fff6ed;
}

.pricing__container {
    width: 994px;
}

.pricing__top {
    text-align: center;
}

.pricing__desc {
    margin-left: auto;
    margin-right: auto;
    width: 709px;
}

.pricing__switch-wrap {
    margin-top: 38px;
}

.pricing__switch {
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 276px;
    height: 56px;
    border-radius: 99px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    user-select: none;
    cursor: pointer;
}

.pricing__switch::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -1px;
    bottom: 0;
    width: calc(50% + 10px);
    height: 100%;
    border-radius: inherit;
    background: #ff5b2e;
    transition: left 0.3s, width 0.3s;
}

.pricing__switch-wrap [type='checkbox']:checked + .pricing__switch span:last-of-type,
.pricing__switch-wrap [type='checkbox']:not(:checked) + .pricing__switch span:first-of-type {
    color: #fff;
}

.pricing__switch-wrap [type='checkbox']:checked + .pricing__switch::before {
    width: calc(50%);
    left: calc(50% + 1px);
}

.pricing__switch span {
    position: relative;
    z-index: 1;
    transition: color 0.3s;
}

.pricing__sale-off {
    position: absolute;
    top: -10px;
    right: -113px;
    pointer-events: none;
}

.pricing__list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}

.pricing__item {
    padding: 30px 28px 43px;
    border-radius: 20px;
    background: #fff;
}

.pricing__item:nth-child(2) {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing__item-type {
    color: #ff5b2e;
    font-size: 1.2rem;
    line-height: 1;
}

.pricing__item-title {
    margin-top: 8px;
    color: #3f4065;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.pricing__item-price {
    display: block;
    margin-top: 24px;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.0303;
}

.pricing__item-buy {
    --height: 44px;

    margin-top: 22px;
    width: 100%;
}

.pricing__item:nth-child(2) .pricing__item-buy {
    color: #fff;
    background-color: #ff5b2e;
}

.pricing__item-list {
    margin-top: 24px;
}

.pricing__item-item {
    display: flex;
    column-gap: 14px;
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1;
}

.pricing__item-item::before {
    content: url(../icon/pricing-check-01.svg);
}

.pricing__item:nth-child(-n + 2) .pricing__item-item:nth-child(n + 5):before {
    content: url(../icon/pricing-check-02.svg);
}

/* Review */
.review {
    margin-top: 53px;
    padding: 30px 0;
}

.review__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 44px;
}

.review__control {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid #ffd1c4;
    outline: none;
    color: #ff5b2e;
    background: transparent;
    transition-property: color, background, border-color;
    transition-duration: 0.3s;
}

.review__control:hover {
    color: #fff;
    background: #ff5b2e;
    border-color: #ff5b2e;
    cursor: pointer;
}

.review__content {
    overflow: hidden;
}

.review__list {
    display: flex;
}

.review__item {
    display: flex;
    align-items: center;
    column-gap: 115px;
    flex-shrink: 0;
    width: 100%;
}

.review__img-wrap {
    position: relative;
    flex-shrink: 0;
    max-width: 274px;
    border-radius: 137px;
}

.review__img-wrap::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 82%;
    border-radius: inherit;
    background-color: #ffda54;
}

.review__img {
    width: 100%;
    border-radius: inherit;
}

.review__info {
    max-width: 553px;
    margin-top: 70px;
}

.review__quote {
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.555;
}

.review__auther {
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 34px;
    color: #282828;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.review__auther::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background: #000;
}

.review__dots {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-top: 56px;
}

.review__dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 99px;
    border: 1px solid #ff5b2e;
    transition: background 0.3s;
    cursor: pointer;
}

.review__dot:hover {
    background: #ff5b2e;
}

.review__dot-active {
    width: 24px;
    background: #ff5b2e;
    cursor: default;
}

/* Blog */
.blog {
    margin-top: 100px;
    padding-bottom: 39px;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__info {
    margin-right: 73px;
    width: 350px;
}

.blog__btn {
    margin-top: 24px;
    min-width: 182px;
}

.blog__content {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}

.blog__item-time {
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.214;
}

.blog__img-wrap {
    padding: 24px 0 0 36px;
    border-radius: 24px;
    background: #90ccff;
}

.blog__item:nth-child(2) .blog__img-wrap {
    background: #ff997e;
}

.blog__item:nth-child(3) .blog__img-wrap {
    background: #5bd6e2;
}

.blog__img {
    margin-top: 25px;
    width: 100%;
    height: 296px;
    object-fit: cover;
}

.blog__item-info {
    padding: 28px 7px 0 0;
}

.blog__item-heading {
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.54545;
}

.blog__item-desc {
    margin-top: 16px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71429;
}

/* Footer */
.footer {
    margin-top: 92px;
    padding: 52px 0 48px;
    background: linear-gradient(to right, #fff6ed 42%, transparent 42%);
}

.footer__inner {
    display: flex;
    align-items: center;
    column-gap: 341px;
}

.form__email {
    display: flex;
    align-items: center;
    margin-top: 35px;
    width: 268px;
    height: 46px;
    border-radius: 23px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    background: rgba(255, 255, 255, 0.6);
}

.input-email {
    padding: 0 22px;
    color: rgba(101, 102, 137, 0.8);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.1666;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background: transparent;
}

.label-email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: -1px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #ff5b2e;
}

.label-email:hover {
    opacity: 0.9;
    cursor: pointer;
}

.social-title {
    margin-top: 68px;
    color: #000958;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.1111;
}

.social-wrap {
    display: inline-flex;
    column-gap: 16px;
    margin-top: 16px;
}

.social-wrap span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
}

.social-wrap span:hover {
    opacity: 0.9;
    cursor: pointer;
}

.footer__right {
    display: grid;
    grid-template-columns: auto auto;
    gap: 58px 137px;
}

.footer__content-title {
    color: #000958;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.1111;
}

.footer__content-list {
    margin-top: 14px;
}

.footer__content-link {
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    line-height: 2;
}

.footer__content-link:hover {
    text-decoration: underline;
}

.copyright {
    text-align: center;
    margin-top: 52px;
    color: #656689;
    font-size: 1.2rem;
    line-height: 1.16667;
}
